.functional_content_config_context.form-wrapper,
.functional_content_config_context .form-wrapper {
  margin: 0 0 10px 20px;
}

.functional_content_config_context .form-type-textfield label,
.functional_content_config_context .form-type-select label {
  display: inline-block;
  min-width: 130px;

  font-weight: normal;
}

.functional_content_config_context .form-item + .form-item,
.functional_content_config_context .form-wrapper .form-item {
  margin-bottom: 0;
}

.functional_content_config_context .form-wrapper .form-item {
  padding: 3px 0;
}
